.cardContent {
    opacity: 0.5;
    color: var(--color-text);
    padding: var(--padding);
    line-height: 1.3em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}