.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: var(--color-background);
    transition: all var(--transition);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-background);
}

.scrolled { 
    box-shadow: var(--shadow-2);
}

.scrolled .background {
    background: var(--color-paper);
}

.navbar > * {
    flex: 1;
}